# This for sharelatex >= 5.0 version
services:
    sharelatex:
        # image: sharelatex/sharelatex:latest
        image: xuhe-sharelatex-ce:latest # custom image(include new texlive)
        container_name: leaf-sharelatex
        restart: unless-stopped
        depends_on:
            mongo:
                condition: service_healthy
            redis:
                condition: service_started 
        ports:
            - "8008:80"
        links:
            - mongo
            - redis
        stop_grace_period: 60s
        volumes:
            - ./data/sharelatex:/var/lib/overleaf
            - ./data/logs:/var/log/overleaf
        environment:
            OVERLEAF_APP_NAME: XuHe's Overleaf

            OVERLEAF_MONGO_URL: mongodb://mongo/sharelatex

            # Same property, unfortunately with different names in
            # different locations
            OVERLEAF_REDIS_HOST: redis
            REDIS_HOST: redis

            ENABLED_LINKED_FILE_TYPES: "project_file,project_output_file"

            # Enables Thumbnail generation using ImageMagick
            ENABLE_CONVERSIONS: "true"

            # Disables email confirmation requirement
            EMAIL_CONFIRMATION_DISABLED: "true"

            # temporary fix for LuaLaTex compiles
            # see https://github.com/overleaf/overleaf/issues/695
            TEXMFVAR: /var/lib/sharelatex/tmp/texmf-var
        # env_file:
        #     - overleaf.env

    mongo:
        image: mongo:8.0
        container_name: leaf-mongo
        restart: unless-stopped
        command: "--replSet overleaf" 
        volumes:
            - ./data/mongo:/data/db
        healthcheck:
            test: echo 'db.stats().ok' | mongosh localhost:27017/test --quiet
            interval: 10s
            timeout: 10s
            retries: 5

    redis:
        image: redis:7
        container_name: leaf-redis
        restart: unless-stopped
        volumes:
          - ./data/redis:/data
